p {
		line-height:normal;
	}
	
	th, td {
    	font: san-serif;
		border: 1px solid #CAC3C3;
		background-color: #FAFAFA;
		border-radius: 5px
}
	h3, h5 {
		display: inline;
		padding-top: 30px;
	}

.header {
	padding-bottom: 15px
}


.main-image {
	float: left;
	margin-left: 50px;
}

.main-list{
	padding-top: 325px;
	margin-left: 100px;
	float: left;
}

.container {
    position: center;
    width: 100%;
    padding-top: 25px;
}

#contact {
	font: 12px;
	font-family: "sans-serif";
}

.paragraph {
	clear: left;
	padding-top: 3px;
}

#user-ads {
	padding-top: 13px;

}

.footer-1, .footer-2, .footer-3 {
	display: inline-block;
	padding-left: 28px;
}

.container-paragraph {
	max-width: 850px;
}